<footer>
	<div class="row footer">
		<div class="col-sm-12">
			<div class="container">
				<h5>
					L'Entreprise
				</h5>
				<ul>
					<li><a href="{{path('app_presentation')}}">Qui sommes nous ?</a></li>
					<li><a href="{{path('app_cgu')}}">Conditions générales d'utilisation (CGU)</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="container">
				<p class=" float-end">
					<a href="#">Back to top</a>
				</p>
				<p>&copy; 2021 Company, Inc.
				</p>
			</div>
		</div>
	</div>
</footer>
