<footer>
	<div class="container-fluid footer">
    <div class="row">
        <div class="col">
            <h5> L'Entreprise </h5> 
            <ul>
                <li> <a href="{{path('app_presentation')}}"> Qui sommes nous ? </a> </li>
                <li> <a href="{{path('app_cgu')}}"> Conditions générales d'utilisation (CGU) </a> </li>
            </ul>
        </div>
    </div>
		<p class=" float-end">
			<a href="#">Back to top</a>
		</p>
		<p>&copy; 2021 Company, Inc.
		</p>
	</div>
</footer>
