{% extends 'base.html.twig' %}

{% block title %}
    Création de devis
{% endblock %}

{% block body %}
    <div class="container-fluid">
            <h1> Création de devis </h1>
    </div>
    {{ dump(demande) }}
{% endblock %} 



{% block javascripts %}
{% endblock %}