# See dos how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"
    filter_sets:
        square:
            quality: 75
            filters:
              thumbnail:
                  size: [300, 300]
                  mode: outbound
        rectangle:
            quality: 75
            filters:
              thumbnail:
                  size: [400, 150]
                  mode: outbound
        reduc:
            quality: 100
            filters:
                scale:
                  dim: [ 1519, 323 ]