:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    --navbar-height: 64px;
    /* position: fixed; */
    position: relative;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
                
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;  
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                left 0.2s ease-in-out,
                right 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}

.navbar-menu.sidebar,
.navbar-menu.sidebar.left {
    left: -1000px;
    right: 0;
}

.navbar-menu.sidebar.right {
    right: -1000px;
    left: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#navbar.opened .navbar-menu.sidebar.left {
    left: 0;
}

#navbar.opened .navbar-menu.sidebar.right {
    right: 0;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.sidebar .navbar-links {
    top: 0;
    bottom: 0;
}

.left.sidebar .navbar-links {
    left: 0;
    right: unset;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index:99;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }
    
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

#options {
    display: flex;
    flex-direction: column;
}


/*****************************
/* Fin du code de la navbar */
/*****************************






a { text-decoration: none; }

/* Container-fluid bande LOGO: 100% large avec des "gouttières" padding de 15 px de large à gauche et droite */
.myheader { background-color: black }

.row { padding-top: 15px; }
.icon { display: none; } /* display-none : On cache l'icone burger en affichage pas défaut */

.connect { background-color:black; position:relative; z-index:auto; height: 100%;}
.connect nav {margin-top: 90px;}
.logoderoulant { position:relative; color:white;}
#logoconnect { margin-right: 70px; list-style: none;}
.connect ul { text-align: right; margin-bottom: 0; }
.sousmenu { display:none; position:absolute; z-index: 1; list-style: none; background-color: black; top:32px; right:0; width:140px;padding:5px; margin:0;}
.sousmenu a { color: grey; display: block; }

.topnav { background-color: whitesmoke;text-align: center; }
.topnav a { color:grey; justify-content: center; margin:0 20px; }

.collapse { justify-content: center; }

/* Css du template "users" : */
.sous_menu a { display: block; text-decoration: none; color: black; }

@media screen and (min-width: 700px) {
    .navbar-toggle { display: none;}
}

/* CSS mobile : */
@media screen and (max-width: 700px){
    /* base.html.twig : */
    #myheader { height: 60px; position: relative; }
    #myheader .row { padding: 0; }
    #logoheader { max-width: 67%; }
    .navbar-toggle { height: 60px; }
    #mynavbar { display: none; }
    #leftselect {display:flex;}


    #titreDernieresAnimations { font-size: 15px; }
    .topnav a { display: none; } /* Sélectionne tous les a , on retire l'affichage */
    #logoconnect { margin-right: 0; } /* Retrait du margin dès que l'on passe en petit écran pour que le logo reste le plus à droit possible */
    .connect nav {margin-top: 20px;}

    /* Page Inscription : */
    #btnRegister {border-radius: 20px;}
}

/* Carousel Bootstrap (page index) */
.carousel-inner{
    height:360px;
    width:100%;
    max-height: 500px !important;
  }

  /* Title Mes dernieres animations */
  #title_last_anim { font-size: 25px;}

  #containerTopPresentation {
    background-color:rgb(229, 238, 238);
  }

  #photoAtelier{
      text-align: right;
      width: 65%;
  }