:root {
    --navbar-bg-color: hsl(0, 0%, 0%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

#navHead {
    height: 166px;
}

#navbar {
    height: 226px;
    /* Nécessaire au bon fonctionnement du slide carousel / NE PAS SUPPRIMER */
    /* position: fixed; */
    position: relative;
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: var(--navbar-bg-color);
}

.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;

    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
}

#link-admin {
    color: rgb(167, 39, 39);
}

.navbar-link:focus,
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    transition: opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        left 0.2s ease-in-out,
        right 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}

.navbar-menu.sidebar,
.navbar-menu.sidebar.left {
    left: -1000px;
    right: 0;
    z-index: 99;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

#navbar.opened .navbar-menu.sidebar.left {
    left: 0;
}

.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.sidebar .navbar-links {
    top: 0;
    bottom: 0;
}

.left.sidebar .navbar-links {
    left: 0;
    right: unset;
    box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 99;
}

.navbar-item {
    margin: 0.4em;
    width: 100%;
}

/* *************************************************************** */
/* On masque les boutons burger et de connexion si l'écran >1080px :  */
/* *************************************************************** */
@media screen and (min-width: 600px) {
    .navbar-toggle {
        display: none;
    }

    #butn_connect {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

#options {
    display: flex;
    flex-direction: column;
}


/*****************************
/* Fin du code de la navbar */
/*****************************






a { text-decoration: none; }

/* Container-fluid bande LOGO: 100% large avec des "gouttières" padding de 15 px de large à gauche et droite */
.myheader {
    background-color: black
}

.row {
    padding-top: 15px;
}

.icon {
    display: none;
}

/* display-none : On cache l'icone burger en affichage pas défaut */

.connect {
    background-color: black;
    position: relative;
    z-index: auto;
    height: 100%;
}

.connect nav {
    margin-top: 90px;
}

.logoderoulant {
    position: relative;
    color: white;
}

#logoconnect {
    margin-right: 70px;
    list-style: none;
}

#liensConnection {
    margin-right: 50px;
    float: right;
    padding-top: 50px;
    list-style: none;
    /*retrait des puces*/
}

.sousmenu {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    background-color: var(--navbar-bg-color);
    top: 32px;
    right: 0;
    width: 140px;
    padding: 5px;
    margin: 0;
}

.sousmenu a {
    color: grey;
    display: block;
}

.topnav {
    background-color: whitesmoke;
    text-align: center;
}

.topnav a {
    color: grey;
    justify-content: center;
    margin: 0 20px;
}

.collapse {
    justify-content: center;
}

/* Css du template "users" : */
.sous_menu a {
    display: block;
    text-decoration: none;
    color: black;
}

/* Disparition du bouton burger à partir d'une largeur min de 1080px */
@media screen and (min-width: 600px) {
    .navbar-toggle {
        display: none;
    }
}

/* CSS mobile : portrait */
@media screen and (max-width: 600px) {

    /* base.html.twig : */

    #navHead {
        display: none;
    }

    #navbar {
        margin-bottom: 0px;
        height: 60px;
    }

    #myheader {
        height: 60px;
        position: relative;
    }

    #myheader .row {
        padding: 0;
    }

    #logoheader {
        max-width: 67%;
    }

    /* Hauteur du bouton burger */
    .navbar-toggle {
        height: 60px;
    }

    #mynavbar {
        display: none;
    }

    #leftselect {
        display: flex;
    }

    .topnav a {
        display: none;
    }

    #butn_connect {
        height: 60px;
        margin-top: 17px;
        background-color: transparent;
        border: none;
    }


    /* Sélectionne tous les a , on retire l'affichage */
    #logoconnect {
        margin-right: 0;
    }

    /* Retrait du margin dès que l'on passe en petit écran pour que le logo reste le plus à droit possible */
    .connect nav {
        margin-top: 20px;
    }

    /* Page Inscription : */
    #btnRegister {
        border-radius: 20px;
    }

    /* Carousel Bootstrap (page index) */
    .carousel-inner {
        height: 180px;
        max-height: 500px !important;
    }
}


/* Title Mes dernieres animations (page index) */
#title_last_anim {
    font-size: 25px;
}

/* Page Présentation (page presentation): */
#containerTopPresentation {
    background-color: rgb(229, 238, 238);
}

#photoAtelier {
    text-align: right;
    width: 65%;
}

.footer {
    background: black;
    color: whitesmoke;
    text-decoration: none;
    /* supprime la ligne des liens contenu dans le footer */
}

.checkboxAndTextDispFlex {
    display: flex;
}

/* ******************************************* */
/* CSS DE MENU ACCORDEON HTML CSS SEULEMENT */
/* ******************************************* */
.cgu h5,
h2 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
}

.accordion .card-header {
    height: 105px;
    display: flex;
    align-items: center;
    /* center verticalement, fonctionne ssi Display flex*/
}

li {
    display: block;
}

.accordion label {
    cursor: pointer;
    display: block;
    padding: 0.7em 1em;
    overflow: hidden;
    background: linear-gradient(#555, #444);
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 1px rgba(#fff, 0.2);
}

.sub>li {
    height: 0;
    overflow: hidden;
}

.accordion input[type="checkbox"] {
    display: none
}

input:checked+.sub>li {
    height: 28rem;
    /* 28 rem en mode ordinateur - Si l'on considère que l'on n'affiche une section contenant 5 "demandes" */
}

.sub>li {
    transition: all 0.30s ease-in-out
        /*n\'hésitez pas à jouer avec ces valeurs */
}

/* CSS CHAT */
.messages {
    background-color: rgb(183, 183, 184);
    border-radius: 30px;
    padding: 10px;
}

/* Carousel accueil bootstrap, test wrapping*/
.carousel-inner {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.image{
    height: auto;
    width : 100%;
    display: block;
}