{% extends 'base.html.twig' %}

{% block title %}
	Modification du mot de passe de
	{{app.user.firstname}}
	{{app.user.name}}
{% endblock %}

{% block body %}

{% include('_partials/flashs.html.twig') %}

	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-4"></div>
				<div
					class="col-4">
					{# On ne met pas de propriété "action" dans le formulaire comme ça ça recharche la même page  #}
					<form method="POST">
						<div class="form-group">
							<label for="pass">Mot de passe</label>
							<input type="password" class="form-control" id="pass" name="pass">
						</div>

						<div class="form-group">
							<label for="pass2">Confirmer le mot de passe</label>
							<input type="password" class="form-control" id="pass2" name="pass2">
						</div>

						<button type="submit" class="btn btn-dark">Valider</button>
					</form>
				</div>
				<div class="col-4"></div>
			</div>
		</div>
	</div>

{% endblock %}
