{% extends 'base.html.twig' %}

{% block title %}
    Modifier la page de présentation
{% endblock %}

{% block body %}
    <div class="container-fluid">
      Modifier la page de présentation
    </div>
{% endblock %} 

{% block javascripts %}
    <script src="{{ asset('js/images.js')}}"></script>
{% endblock %}